extends index.pug

block screen-title
    h1.screen-title.text-center Enrollment 

block screen-content
    .row.mx-auto 
        .col-12.col-xl-6.mx-auto.bg-white.py-3
            include ./includes/forms/enrollment.pug