extends shopping.pug

block doc-title
    title Events | V5-Bootstrap-V5

block screen-title
    h1.screen-title.text-center Events

block screen-content
    include ./includes/shopping-navigation.pug 
    block shopping-header
    include ./includes/top-categories-icon-row
    .row.mb-3 
        .col-12
            .category-img-wrapper
                block category-header-img
                    img.img-fluid(src="https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg", alt="") 
        .col-12#breadcrumb 
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='./events.html') Events
                    block breadcrumb-current-page
                        //- li.breadcrumb-item.active(aria-current='page') 
    .row#categoriesBrowser.mb-3
        -for(i=0; i<4; i++) 
            .col-sm-6.col-lg-3 
                ul.list-group.list-unstyled
                    -for(j=0; j<4; j++) 
                        li.list-group-item.border-0
                            block second-level-category 
                                a.d-flex.align-items-center(href="./events-second-level-categories.html")
                                    span Top Level Category Listing (Basketball, Hip Hop, Magic Show) 

     
    block catalog-disclaimer
        include ./includes/catalog-disclaimer.pug