extends events-top-level-categories.pug

block category-header-img
    img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/sportsheader.png", alt="")


block breadcrumb-current-page
    li.breadcrumb-item.active(aria-current='page') Sports 

