extends index.pug

block doc-title
    title Events | V5-Bootstrap-V5

block screen-title
    h1.screen-title.text-center Shopping

block screen-content
    include ./includes/shopping-navigation.pug 

    block shopping-header
        


    .row.mb-3.py-3
        .col-12
            h2.section-title.text-center Featured Departments
    include ./includes/search-results-grid.pug
    
    block catalog-disclaimer
        include ./includes/catalog-disclaimer.pug