extends shopping.pug

block doc-title
    title Events | V5-Bootstrap-V5

block screen-title
    h1.screen-title.text-center Events

block screen-content
    include ./includes/shopping-navigation.pug 
    block shopping-header
    include ./includes/top-categories-icon-row

    include ./includes/event-sort-bar.pug

    include ./includes/event-tickets-view-tickets.pug 
    include ./includes/pagination.pug
    include ./includes/search-results-footer.pug

    block catalog-disclaimer
        include ./includes/catalog-disclaimer.pug