 
include ./includes/header.pug
main.py-3
  .container
    .row.mb-3
      .col-12
        block screen-title 
          h1.screen-title.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ducimus.
    .row
      .col-12#main-content
        block screen-content 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum impedit tenetur sint harum adipisci doloribus molestias nemo excepturi voluptatibus, cupiditate eligendi illo porro minus possimus mollitia quos consequuntur modi, asperiores vel at rerum distinctio molestiae tempora. Illum, id repudiandae.

include ./includes/footer.pug
