.row.justify-content-center#catalog-disclaimer.mx-auto 
    small.d-block.text-center.text-muted Some content is provided by a third party on an as-is basis. This content is subject to change and/or removal at any time. Points and availability of items are subject to change.