.row
    .col-12.col-md-3
        h5.eventTitle The Ballet
        .event-image-purchase-ti.d-block
            img.img-fluid(src="https://www.rewardtrax.com/catalog/Wiener_Staatsoper_Schwanensee_Szene_Akt4.jpg", alt="")
    .col-12.col-md-9
        .row.mx-auto.mb-3
            .col-12.col-md-6.mb-3
                span.small.text-muted.text-uppercase.d-block.font-weight-bold Date
                p.mb-0 Wed, Dec 22, 2021, 07:00PM
            .col-12.col-md-6.mb-3 
                span.small.text-muted.text-uppercase.d-block.font-weight-bold Venue
                p.mb-0 The Lyric Theatre - Birmingham
            .col-6.col-md-6.mb-3
                span.small.text-muted.text-uppercase.d-block.font-weight-bold Section
                p.mb-0 FLOOR 
            .col-6.col-md-6.mb-3
                span.small.text-muted.text-uppercase.d-block.font-weight-bold Row
                p.mb-0 AA
            .col-12.d-block.font-weight-bold.text-muted Notes
                p.font-weight-normal.mb-0 Mobile Entry Tickets. Must have smart device on hand to enter event. Do not print these tickets.  Tickets will be ready for delivery by Dec 20, 2021.