.row.border-top.pt-3.mt-3 
    .col-12
        h4 Important Information About Event Tickets 
    .col-12
        p Event tickets can not be placed in your shopping cart or your wish list. If you wish to order these tickets then: 
            ul.list-group.list-unstyled
                li.list-group-item.d-flex.align-items-center.border-0 
                    span.fas.fa-info-circle.mr-2 
                    span You must order them 
                        span.font-weight-bold now 
                        span  to ensure availability.
                li.list-group-item.d-flex.align-items-center.border-0 
                    span.fas.fa-info-circle.mr-2 
                    span Event Ticket orders are 
                        span.font-weight-bold non-refundable for any reason.
    .col-12.mb-3
        h5 Purchasing Information
        p The points required to purchase your items will be deducted from your account balance. 
        p Here's how our order processing works:
        ul.list-group.list-unstyled
            li.list-group-item.d-flex.align-items-center.border-0 
                span.fas.fa-info-circle.mr-2 
                span First, we convert your points to a currency equivalent. For example, we may convert your points into a US dollar equivalent.
            li.list-group-item.d-flex.align-items-center.border-0 
                span.fas.fa-info-circle.mr-2 
                span Next, using a background program account for currency transactions, we make the purchase of your item from a supplier on your behalf, for instance in dollars.
            li.list-group-item.d-flex.align-items-center.border-0 
                span.fas.fa-info-circle.mr-2 
                span Then, we subtract the corresponding number of points from your point account. The items are shipped to you directly from the supplier.