include events-shipping-address-section.pug
include events-point-info-section.pug
include events-ticket-important-info.pug
.row.text-center.mb-3 
    .col-12.col-md-6.col-lg-4.mx-auto 
        a.btn.btn-primary.btn-block.mb-2(href="#") Continue Checkout
        a(href="#") Continue Shopping  


 
        

