.row.event-ticket-grid 
    -for(i=0; i<10; i++)
        .col-12.mb-3
            .card
                .card-body
                    .row
                        .col-4.col-md-3.mb-3.order-1 
                            span.small.text-muted.text-uppercase.d-block.font-weight-bold Row
                            p.lead.mb-0 AA
                        .col-4.col-md-3.mb-3.order-2 
                            span.small.text-muted.text-uppercase.d-block.font-weight-bold Section
                            p.mb-0 FLOOR
                        .col-4.col-md-3.mb-3.order-3 
                            span.small.text-muted.text-uppercase.d-block.font-weight-bold Points
                            p.mb-0 29,005
                        .col-12.mb-3.mb-md-0.order-4.order-md-5
                            span.small.text-muted.text-uppercase.d-block.font-weight-bold Notes
                            p.mb-0   Mobile Entry Tickets. Must have smart device on hand to enter event. Do not print these tickets.  Tickets will be ready for delivery by Dec 20, 2021. 
                        .col-12.col-sm-4.col-md-3.order-5.order-md-4
                            a.btn.btn-primary.btn-block(href="./events-purchase-tickets.html") Order Tickets