.row.mx-auto 
    .col-12.pl-0 
        h4 Featured Categories
.row.mb-3
    .col-4.text-center
        a(href="#")
            img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/sports.jpg", alt="")  
    .col-4.text-center
        a(href="#")
            img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/concerts.jpg", alt="")  
    .col-4.text-center
        a(href="#")
            img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/theater.jpg", alt="")