.row.justify-content-center
    -for(i=0;i<20;i++) 
        .col-6.col-lg-4.mb-3
            .item-card.card.p-0.mb-2
                .card-body
                    .badge.badge-success.mb-3 On Sale Now!
                    .itemWrapper
                        a(href="#") 
                            img.img-fluid(src="./images/shopping/featured-departments/apple.jpg" alt="")
            a(href="#") 
                h6.featured-category-category-title.line-clamp Item Title Can Be Very Long So I Will Need To Clamp
            small
                span.fas.fa-store.mr-1 
                span In-Store Pickup Available
            p
                span.small.text-muted.mr-1 From 
                span.lead.mr-1 9,999
                span.small.text-muted Points