.row#shopping-navigation.align-items-center.justify-content-between.mb-3
    .col-6.col-sm-4.col-md-3.order-1 
        a.btn.btn-primary.w-100#dept-btn-mobile.d-xl-none(href="#") Departments
        a.btn.btn-secondary.w-100#dept-btn.d-none.d-xl-block(href="#") Departments
    .col-6.col-sm-3.col-md-3.col-lg-2.text-end.order-2.order-md-3
        include shopping-navigation-order-links
    .col-12.col-md-6.col-lg-7.order-3.order-md-2
        include shopping-search-bar.pug