.input-group
    span.d-none.d-lg-inline
        select.form-select.custom-select(aria-label='Default select example')
            option(selected='') All Departments
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
    input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
    span
        a.btn.btn-primary(href="#")
            .fas.fa-search