.row 
    .col-12#shopping-header-image-wrapper 
        img.img-fluid(src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/ghp-MMT-434731-laptops-7d159922-f3e4-4cf9-a1b3-797689d4a3bc.jpg", alt="")
.row.mb-3
    .col-12#shopping-sections
        .btn-group.w-100(role='group' aria-label='Basic example')
            button.btn.btn-primary(type='button' style="border-top-left-radius: 0px;") Catalog
            a.btn.btn-primary( href='./events.html') Events
            button.btn.btn-primary(type='button' style="border-top-right-radius: 0px;") Travel