.row.justify-content-between#shopping-navigation-order-links 
    .col3
        a(href="#")
            .fas.fa-shopping-cart
    .col-3
        a(href="#")
            .fas.fa-heart
    .col-3
        a(href="#")
            .fas.fa-box
    .col-3
        a(href="#")
            .fas.fa-sliders-h