.row.justify-content-between#shopping-navigation-order-links 
    .col-4
        a(href="#")
            .fas.fa-shopping-cart
    .col-4
        a(href="#")
            .fas.fa-heart
    .col-4
        a(href="#")
            .fas.fa-box
