.row.mb-3.mx-auto
    .col-12.pl-0
        h4 Event Categories
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-2.justify-content-center 
        a(href="#")
            .fas.fa-futbol.mr-2 
            span.departmenttop.departmentnode Sports
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-2.justify-content-center  
        a(href="#")
            .fas.fa-microphone.mr-2 
            span.departmenttop.departmentnode Concerts
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-2.justify-content-center  
        a(href="#")
            .fas.fa-mask.mr-2 
            span.departmenttop.departmentnode Theatre
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-2.justify-content-center  
        a(href="#")
            .fas.fa-ticket-alt.mr-2 
            span.departmenttop.departmentnode Other