.row.mb-3.mx-auto
    .col-12.pl-0
        h4 Event Categories
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-4.justify-content-center.text-center 
        a(href="./events-top-level-categories--sports.html")
            span.d-block.fas.fa-futbol.fa-3x 
            span.departmenttop.departmentnode Sports
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-4.justify-content-center.text-center  
        a(href="./events-top-level-categories--concerts.html")
            span.d-block.text-center.fas.fa-microphone.fa-3x 
            span.departmenttop.departmentnode Concerts
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-4.justify-content-center.text-center  
        a(href="./events-top-level-categories--theatre.html")
            span.d-block.text-center.fas.fa-mask.fa-3x 
            span.departmenttop.departmentnode Theatre
    .col-6.col-md-3.departmenttop.departmentnode.d-flex.border.align-items-center.py-4.justify-content-center.text-center  
        a(href="./events-top-level-categories--other.html")
            span.d-block.text-center.fas.fa-ticket-alt.fa-3x 
            span.departmenttop.departmentnode Other